@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    font-family: Poppins;
}

.box{
    cursor: pointer;
    color: white;
    box-shadow: 0 0 0.5em black;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(99, 189, 126);
    width: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.box:hover{
    background-color: rgba(99, 189, 126, 0.603);
}

@media only screen and (max-width: 800px) {
    .box{
        width: 60%;
    }
}